/* Background image */
body {
  background-image: url('web_background.jpg');
  background-size: cover;       /* Makes image cover the entire background */
  background-position: center;  /* Center the image */
  background-repeat: no-repeat; /* Do not repeat */
  background-attachment: fixed; /* Makes the background stay fixed on scroll */
}